.container
    .jumbotron
        h1 MultiVision
        p Bem vindo! =)
        
    .row
        .col-md-6
            div(ng-include="'/partials/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/new-courses'")
