doctype html
base(href="/")
html
    head
        title MultiVision
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", href="/vendor/bootswatch-dist/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
    body(ng-app="app")
        include currentUser.jade
        block main-content
        include scripts.jade
        
